<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
	integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	crossorigin="anonymous"></script>



<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>detail page</title>
</head>
<body>
	<!-- 네비게이션 바 -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand">board</a>

		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link active" href="/board/main">Home <span
					class="sr-only">(current)</span></a> <a class="nav-item nav-link"
					href="/board/write" id="new-book">글작성</a>
			</div>
		</div>
	</nav>
	<!-- 네비게이션 바 끝 -->



	<div id="content">
		<div id="board" class="board-form">
			<table class="tbl-ex">

				<tr>
					<td class="label">제목</td>
					<td th:text="${board.title}"></td>
				</tr>
				<tr>
					<td class="label">작성자</td>
					<td th:text="${board.writer}"></td>
				</tr>
				<tr>
					<td class="label">내용</td>
					<td>
						<div class="view-content" th:text="${board.contents}"></div>
					</td>
				</tr>
			</table>
			<div class="bottom">

				<form role="form" th:object=${BoardVo} th:action="@{/board/main}"
					method="POST">
					<a href="/board/main">글목록</a> <a
						th:href="@{/board/modify(bno=${board.bno})}">글수정</a> <input
						type="submit" th:value="삭제"
						th:formaction="@{/board/delete/{bno}(bno=${board.bno})}">
				</form>

				<hr>
				댓글
				<td th:text="${board.title}"></td>

               
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">작성자</span>
					</div>
					<input type="text" class="form-control" placeholder="이름을입력하세요"
						aria-label="Username" aria-describedby="basic-addon1">
				</div>


				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">내용</span>
					</div>
					<textarea class="form-control" aria-label="With textarea" placeholder="내용을작성하세요"></textarea>
				</div>








			</div>
		</div>
	</div>



</body>
</html>