<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
	integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	crossorigin="anonymous"></script>




<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>write page</title>
</head>
<body>

	<!-- 네비게이션 바 -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand">board</a>

		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link active" href="/board/main">Home <span
					class="sr-only">(current)</span></a> <a class="nav-item nav-link"
					href="/board/write" id="new-book">글작성</a>
			</div>
		</div>
	</nav>
	<!-- 네비게이션 바 끝 -->


<div id="content">
			<div id="board">
				<form class="board-form" method="post" action="/board">
					<table class="tbl-ex">
						<tr>
							<th colspan="2">글쓰기</th>
						</tr>
						<tr>
							<td class="label">제목</td>
							<td><input type="text" name="title" value="" id="title"></td>
						</tr>
						<tr>
							<td class="label">작성자</td>
							<td><input type="text" name="writer" value="" id="writer"></td>
						</tr>
						<tr>
							<td class="label">내용</td>
							<td>
								<textarea id="contents" name="contents"></textarea>
							</td>
						</tr>
						
						<tr>
							<td class="label">파일</td>
							<td>
								<input type="file" id="file" name="file">
							</td>
						</tr>
					
					</table>
				
					
					<div class="bottom">
						<button><a href="/board/main">취소</a></button>
						<button type="sumit" >등록</button>
					</div>
				</form>				
			</div>
		</div>



</body>
</html>